
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body{
    font-size: 2em;
    font-family: "bebasneue", Georgia, Times, Arial;
}
legend{
	border:0;
	margin-bottom: 5px;
}
h1{
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  text-align: center;
} 
h3{
  margin-top: 0px;
  font-size: 1.5em; 
}
#thumbs{
  font-size: .75em;
}
#starReview{
  font-size: .75em;
}
#feedback{
  font-size: .8em;
}
.jumbotron{
  padding:0;
  margin: 0;
  border-bottom: 10;
  background-color: #D68F7D; 
}
#title{
  background-color: #D39686;
  padding-top: 1em;  
}
#user-review{
  background-color: #D68F7D;
}
#past-reviews{
  background-color: #D39686;
}
.btn-danger{
  font-size: .5em;
}
.form-group{
	margin-bottom: 0px;
}
#list{
	padding-left: 0px;
}
/*Change layout for Mobile*/ 
@media screen and (min-width:768px){
 	body{
    	font-size:2em;
    }
  #feedback{
    font-size: .8em;
  }
}    
