/*CSS File for CRUD Challenged*/
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/*Red Background #6E0308*/
/*Gray Background #222 */
/*Font Color #EFEFEF*/

body{
    font-size: 2em;
    font-family: "bebasneue", Georgia, Times, Arial;
/*    color: #EFEFEF;
*/

}
legend{
	border:0;
	margin-bottom: 5px;
}
h1{
/*	font-size: 100%;*/
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  text-align: center;
} 
h3{
  margin-top: 0px;
  font-size: 1.5em; 
}

#thumbs{
  font-size: .75em;
}

#starReview{
  font-size: .75em;
}
#feedback{
  font-size: .4em;
}

.jumbotron{
  padding:0;
}

.btn-danger{
  font-size: .5em;
}
#header{
  float: right;
}
.form-group{
	margin-bottom: 0px;
}
#list{
	padding-left: 0px;
}
#user-review{
  font-size:1em; 
}
/*Change layout for Mobile*/ 
@media screen and (min-width:768px){
 	body{
    	font-size:2em;
    }
  #feedback{
    font-size: .6em;
  }
 
}    
